{% extends 'core/layout.html' %}

{% block unique_content %}

    <p><h2>Категория: {{ cat.name }}</h2></p>
    </p>
    {% if det_categories %}
        <ul>
            {% for post in det_categories %}
                <li>
                    <a href='{%url "det_announce" post.id %}'>{{ post }}
                    <p>
                        <img alt="announce's image" src="{{ post.image.url }}" 
                            style='width: 250px; height: 250px;'>
                    </p>
                    </a>                    
                    <a href="{% url 'profile' post.author.id %}"><p>{{ post.author }}</p></a>                     
                    <p>{{ post.date_pub }}</p>
                    <p>Количество просмотров: {{ post.views_count }}</p>
                </li>
            {% endfor %}
        </ul> 
    {% endif %}

{% endblock unique_content %}